*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  perspective: 1000px;
}
#theContainer {
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../img/renan-brun-hWp5ge97DbM-unsplash.jpg);
  background-size: cover;
}

.card {
  transform-style: preserve-3d;
  width: 600px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3), 0px 0px 25px rgba(0, 0, 0, 0.3);
  background: #fff;
  transition: all 0.3s ease-in;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.card-body-img {
  background: url("../img/jurica-koletic-7YVZYZeITc8-unsplash.jpg");
  width: 40%;
  height: 300px;
  border-top-left-radius: 15px;
  background-size: cover;
  border-bottom-left-radius: 15px;
  transition: all 0.5s ease-in 0.2s;
}

.card-body-text {
  width: 60%;
  min-height: 200px;
  padding: 20px 30px;
  font-family: poppins, sans-serif;
  font-size: 14px;
}
.card-body-text p {
  transition: All 0.6s ease-in 0.7s;
}

.card-body-text h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

.card-body-text button {
  font-size: 10px;
  text-transform: uppercase;
  color: red;
  padding: 10px 20px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid red;
  display: block;
  position: absolute;
  bottom: 20px;
  right: 30px;
  cursor: pointer;
}

.card-body-text-title {
  transition: all 0.9s ease-in-out 0.7s;
}

#button {
  transition: All 0.3s ease-in 0.5s;
}

input[type='text'] {
  border:none;
  border-bottom:1px solid rgb(155, 150, 150);
  outline: none;
  padding-left:10px;
}

input[type='text']::placeholder {
  color:regba(cc,cc,cc,0.4);
}
label {
  display:inline-block;
  min-width:80px;
}
